.file-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 600px;
  border: 2px dashed #ccc;
  padding: 20px;
  cursor: pointer;
  background-color: #03133F;
  border-radius: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease;
  flex: 1;
  width: 50%;
}

.file-upload:hover {
  border-color: #FFFFFF;
}

.file-upload__instructions {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.file-upload__instructions p {
  font-size: 18px;
  margin-bottom: 10px;
  color: #666;
}

.file-upload__instructions input[type='file'] {
  display: none;
}

.file-upload__file-selected {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}

.file-upload__file-selected div {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  max-width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.file-upload__file-selected button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #007aff;
  font-size: 18px;
  transition: all 0.3s ease;
}

.file-upload__file-selected button:hover {
  text-decoration: underline;
}

.file-upload__file-selected button:focus {
  outline: none;

  box-shadow: 0px 0px 0px 2px #007aff;
}

.file-upload__file-selected button:active {
  transform: translateY(1px);
}

.browse-files__button {
  background-color: #4caf50;
  color: #fff;
  height: 40px;
  width: 300px;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.upload-file__button {
  background-color: blue;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.file-upload__button:hover {
  background-color: #388e3c;
}

.button-container {
  display: flex;
  flex-direction: row;
  gap: 10px; /* to add space between the buttons */
}
